{% extends 'base.html' %}

{% block title %}
    Show My Tasks
{% endblock title %}
{% block content %}
    <main>
        <div class="my-tasks-list">
            <h1>My Tasks</h1>
            {% if task.all %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for each in task.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'task_detail' each.id %}">{{ each.name }}</a>
                                </td>
                                <td>{{ each.staet_date }}</td>
                                <td>{{ each.due_date }}</td>
                                <td>{{ each.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
