{% extends 'base.html' %}

{% block title %}
    Log A Comment
{% endblock title %}
{% block content %}
    <main>
        <div class="task-form">
            <h1>Log the task</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Log</button>
            </form>
        </div>
    </main>
{% endblock content %}