{% extends 'base.html' %}

{% block title %}
    Task Detail
{% endblock title %}
{% block content %}
    <main>
        <div class="task-detail">
            <h1>{{ task_detail.name }}</h1>
            <div id="log-info">
                <p>Task Assignee: {{ task_detail.assignee }}</p>
                <p>Start Date: {{ task_detail.start_date }}</p>
                <p>Due Date: {{ task_detail.due_date }}</p>
                <p>
                    <a href="{% url 'task_log' %}">Log a comment</a>
                </p>
            </div>
        </div>
        <div>
            {% for log in task_detail.logs.all %}
            <div id="log-content">
                <p>-- {{ log.log }}</p>
                <p>-- {{ log.log_date }}</p>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}